#wrapper{
  max-width: 451px;
  height: 454px;
  position: relative;
  margin: 10px auto;
  background: #453a36;
  border: solid 5px #000000;
}

.white{
  position: relative; 
  margin: 10px auto;
  width: 95%;
  height: 211px;
}

#white_med_1{
  background: blue;
}

#white_med_2{
  background:red;
  display: inline;
}
